@use "../../global" as *;

.mv {
    &_top {
        padding-top: 103px;
        position: relative;
        display: flex;
        align-items: center;
    }

    &_heading {
        position: absolute;
        top: 161px;
        left: -31px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 23px;
        z-index: 2;

        &__txt {
            padding: 27px 33px 16px;
            font-size: 30px;
            font-weight: 700;
            letter-spacing: 0.2em;
            line-height: 1;

            &:nth-child(2) {
                margin-top: 58px;
            }
        }
    }

    &_l {
        padding-bottom: 48px;
        width: 39.6%;
    }

    &_r {
        flex-grow: 1;
        margin-left: -10px;
        padding-right: 19px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &_txt {
        padding-left: 17px;
        margin-bottom: 26px;
        color: $color-blue;
        font-family: $font-en;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.05em;
        text-align: center; 
    }
    &_img {
        position: relative;

        &__01 {
            margin-bottom: 49px;
            padding-left: 10px;
        }

        &__02 {
            
        }

        &__03 {
            margin-left: -87px;
            margin-right: -56px;
        }
    }

    &_bot {
        margin-top: -59px;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: min(5.56vw, 80px);

        &__img {
            width: min(26.29%, 368px);

            img {
                border-radius: 30px;
            }
        }
    }
}

.news {
    padding: 52px 0 109px;

    &_wrapper {
        position: relative;
        margin-left: auto;
        padding: 52px 15px 52px 116px;
        width: min(64.14%, 898px);
        display: flex;
        gap: min(5.14vw, 74px);

        &::before {

        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background: $color-bg;
            border-radius: 50px 0 0 50px;
            z-index: -1;
        }
    }

    &_heading {
        flex-shrink: 0;
    }

    &_content {
        flex-grow: 1;
    }

    &_list {
        margin-bottom: 11px;
    }

    &_item {
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: 10px;
            padding-bottom: 16px;
            border-bottom: 1px solid #E2E2E2;
        }

        &__link {
            font-weight: 500;
            display: flex;
            gap: 18px;
            letter-spacing: 0.05em;
        }

        &__date {
            flex-shrink: 0;
        }

        &__ttl {
            flex-grow: 1;
            @include overtext(1);
        }
    }

    &_btn {
        padding-right: 6px;
        text-align: right;

        &__link {
            display: inline-flex;
            align-items: center;
            gap: 10px;
            color: $color-blue;
            font-weight: 700;
            font-size: 16px;

            &::after {
                content: '';
                width: 18px;
                aspect-ratio: 1/1;
                background: url('../images/common/icon_arr_blue.svg') center/100% auto no-repeat;
            }
        }
    }
}

.intro {
    padding: 61px 0;
    background: $color-white;

    &_wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_l {
        width: 45.834%;
    }

    &_r {
        width: 45.667%;
    }

    &_heading {
        margin-bottom: 21px;
        font-size: 26px;
        font-weight: 500;
        line-height: calc(45/26);
    }

    &_desc {
        margin-bottom: 11px;
    }

    &_sub {
        margin-bottom: 45px;
        padding-right: 17px;
        text-align: right;
    }

    &_btn {
        text-align: right;
    }

    &_img {
        margin-right: min(max((100vw - 1200px)/ -2, -353px), -20px);

        img {
            border-radius: 30px 0 0 30px;
        }
    }
}