@use "../../global" as *;

.news {
    &_archive {
        padding: 67px 0 186px;
    }

    &_box {
        padding: 80px 100px 74px;
        background: $color-white;
        border-radius: 30px;
    }

    &_item {
        padding: 30px 0;
        line-height: 1;

        &:not(:last-child) {
            border-bottom: 1px solid #EDF2F9;
        }

        &__link {
            padding: 0 20px;
            display: flex;
            gap: 75px;
        }

        &__date {
            flex-shrink: 0;
            font-size: 14px;
            font-weight: 400;
        }

        &__title {
            font-weight: 500;
        }
    }

    
}