@use "../global" as *;

/*!
foundation > base
------------------------------
*/
html, body {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-size: rem(16);
    color: $color-font-base;
    font-family: $font-base;
    font-weight: 400;
    line-height: 2;
    background: url('../images/common/bg_body.webp') top center/100% auto repeat-y;
    
    @include mq() {
        font-size: rem(17);
    }
}

p {
    letter-spacing: 0.05em;
}

a {
    transition: .4s ease;

    @include hover() {
        &:hover {
            opacity: .8;
        }
    }
}

main {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 186px;
        background: url('../images/common/bg_body_02.svg') calc(100% + 200px) 100%/max(100%, 2000px) auto no-repeat;
        z-index: 10;

        @include mq(sp) {
            height: 93px;
            background-position: calc(100% + 100px) 100%;
            background-size: max(100%, 1000px) auto;
        }

        @media screen and (min-width: 1601px) {
            background-position: bottom center;
        }

        @media screen and (min-width: 1921px) {
            background-size: contain;
            background-repeat: repeat-x;
        }
    }
}

img {
    max-width: 100%;
}

.pc {
    @include mq(sp) {
        display: none !important;
    }
}

.sp {
    @include mq(md) {
        display: none !important;
    }
}
