@use "../../global" as *;

.guideline_ttl {
    text-align: center;

    &__en {
        display: block;
        font-size: 13px;
        line-height: 1;
        color: #e67339;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin-bottom: 3px;
    }

    &__jp {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.1em;

        @include mq {
            font-size: 32px;
        }
    }
}

.require {
    padding: 62px 0;
    @include mq() {
        padding-bottom: 100px;
    }

    .guideline_ttl {
        margin-bottom: 29px;
    }
    &_wrap {
        background-color: #fff;
        border-radius: 20px;
        padding: 30px 20px;
        @include mq() {
            padding: 50px;
        }
        @include mq(lg) {
            padding: 53px 100px 70px;
            border-radius: 50px;
        }
    }

    &_tbl {
        &__item {
            padding: 12px 0;
            border-bottom: 1px solid #e8e8e8;
            @include mq() {
                display: flex;
                align-items: center;
            }
            @include mq(lg) {
                padding: 26px 0 24px;
            }
            &:last-child {
                border: none;
            }
        }

        &__ttl {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.4;
            color: #e67339;
            letter-spacing: 0.05em;
            @include mq(sp) {
                margin-bottom: 5px;
            }
            @include mq() {
                width: 151px;
                flex-shrink: 0;
                padding-left: 20px;
            }
        }

        &__txt {
            width: 100%;
            letter-spacing: 0.05em;
            font-size: 15px;
            @include mq() {
                padding-left: 30px;
            }
            @include mq(lg) {
                font-size: 17px;
            }
        }
    }

    &_btn {
        @include mq(lg) {
            margin-top: -1px;
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            width: min(100%, 300px);
            height: 60px;
            padding: 10px;
            border-radius: 999px;
            font-size: 16px;
            font-weight: 700;
            color: #fff;
            background-color: #2c4198;
            @include mq(lg) {
                width: min(100%, 450px);
                height: 75px;
                font-size: 20px;
            }
        }
    }
}

.entry {
    background-color: #fff;
    padding: 60px 0;
    border-radius: 24px;
    margin-bottom: 60px;
    @include mq() {
        border-radius: 50px;
        padding: 83px 0 101px;
        margin-bottom: 98px;
    }

    .guideline_ttl {
        margin-bottom: 30px;
    }

    &_tbl {
        background-color: #fffced;
        padding: 20px;
        border-radius: 20px;
        @include mq() {
            padding: 30px;
        }

        @include mq(lg) {
            padding: 28px 100px 20px;
        }

        &__item {
            padding: 12px 0;
            border-bottom: 1px solid #e8e8e8;
            @include mq() {
                display: flex;
                align-items: center;
            }
            @include mq(lg) {
                padding: 26px 0 24px;
            }
            &:last-child {
                border: none;
            }
        }

        &__ttl {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.4;
            color: #e67339;
            letter-spacing: 0.05em;
            @include mq(sp) {
                margin-bottom: 5px;
            }
            @include mq() {
                width: 151px;
                flex-shrink: 0;
                padding-left: 20px;
            }
        }

        &__txt {
            font-size: 15px;
            width: 100%;
            letter-spacing: 0.05em;
            @include mq() {
                font-size: 17px;
                padding-left: 30px;
            }
            .sm {
                font-size: 14px;
                margin-top: 8px;
            }
            .underline {
                text-decoration: underline;
                font-size: 15px;
            }
        }
    }
}

.flow {
    padding-bottom: 156px;
    @include mq() {
        padding-bottom: 236px;
    }
    .guideline_ttl {
        margin-bottom: 29px;
        &__en {
        }

        &__jp {
        }
    }

    &_step {
        @include mq() {
            display: flex;
            gap: 15px;
        }
        @include mq(lg) {
            gap: 38px;
        }

        &__item {
            background-color: #fff;
            border-radius: 20px;
            padding: 20px;
            @include mq(sp) {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            @include mq() {
                width: calc((100% - 15px * 2) / 3);
            }
            @include mq(lg) {
                width: calc((100% - 38px * 2) / 3);
                padding: 45px 38px 23px;
            }
        }

        &__ttl {
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            color: #e67339;
            margin-bottom: 13px;
            letter-spacing: 0.05em;
        }

        &__icon {
            margin-bottom: 50px;
            margin: 0 auto 20px;
            text-align: center;
            @include mq(lg) {
                margin-bottom: 56px;
            }
            img {
                max-height: 101px;
            }
        }

        &__txt {
            .sm {
                font-size: 14px;
            }
        }
    }
    &_banner {
        position: relative;
        z-index: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: min(100%, 540px);
        margin: 60px auto 0;
        height: 180px;
        padding: 26px 40px 20px;
        @include mq() {
            margin-top: 80px;
            height: 220px;
            width: min(100%, 700px);
        }
        @include mq(lg) {
            margin-top: 150px;
            height: 298px;
            width: min(100%, 1000px);
        }
        &__bg {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                pointer-events: none;
                border: 6px solid #fff;
                z-index: 1;
                @include mq() {
                    border-width: 10px;
                }
                @include mq(lg) {
                    border-width: 15px;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__logo {
            width: min(300px, 100%);
            margin: 0 auto 20px;
            @include mq() {
                width: min(400px, 100%);
            }
            @include mq(lg) {
                margin-bottom: 37px;
                width: min(500px, 100%);
            }
        }
        &__btn {
            width: 220px;
            height: 50px;
            margin: 0 auto;
            a {
                width: 100%;
                height: 100%;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                position: relative;
                background-color: $color-green;
                color: #fff;
                border-radius: 999px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    right: 20px;
                    width: 14px;
                    aspect-ratio: 1;
                    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="13.455" height="13.455" viewBox="0 0 13.455 13.455"><path id="Icon_ionic-md-open" data-name="Icon ionic-md-open" d="M16.46,16.46H5.995V6h4.672V4.5H5.995A1.5,1.5,0,0,0,4.5,6V16.46a1.5,1.5,0,0,0,1.495,1.5H16.46a1.5,1.5,0,0,0,1.495-1.5V11.788H16.46ZM12.349,4.5V6h3.065l-7.55,7.55L8.91,14.591l7.55-7.55v3.065h1.495V4.5Z" transform="translate(-4.5 -4.5)" fill="%23fff"/></svg>')
                        center/contain no-repeat;
                }
            }
        }
    }
}

.c_ubtn {
    margin-top: 64px;
    padding: 0;
}
