@use "../../global"as *;

.guideline_ttl {
    text-align: center;

    &__en {
        display: block;
        font-size: 13px;
        line-height: 1;
        color: #e67339;
        font-weight: 700;
        letter-spacing: 0.1em;
        margin-bottom: 3px;
    }

    &__jp {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: 0.1em;

        @include mq {
            font-size: 32px;
        }
    }
}

.require {
    margin-bottom: 100px;

    .guideline_ttl {
        &__en {}

        &__jp {}
    }

    &_tbl {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;

        &__item {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding: 20px 0;
            border-bottom: 1px solid #E8E8E8;

            &:last-child {
                margin-bottom: 0;
                border: none;
            }
        }

        &__ttl {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.4;
            letter-spacing: 0.1em;
            color: #e67339;
            flex-shrink: 0;
            width: 100px;
        }

        &__txt {
            font-size: 17px;
            width: 100%;
            padding-left: 30px;
        }
    }

    &_btn {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: min(100%, 450px);
            height: 75px;
            padding: 10px;
            border-radius: 100%;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            background-color: #2C4198;
        }
    }
}

.entry {
    background-color: #fff;
    padding: 50px;
    border-radius: 20px;
    margin-bottom: 100px;

    .guideline_ttl {
        &__en {}

        &__jp {}
    }

    &_tbl {
        background-color: #2C4198;
        padding: 30px;
        border-radius: 20px;

        &__item {
            border-bottom: 1px solid #E8E8E8;
            padding: 20px 0;

            &:last-child {
                border: none;
                padding: 0;
            }
        }

        &__ttl {
            font-size: 16px;
            font-weight: 700;
            line-height: 1.4;
            letter-spacing: 0.1em;
            color: #e67339;
            flex-shrink: 0;
            width: 100px;
        }

        &__txt {
            font-size: 17px;
            width: 100%;
            padding-left: 30px;
        }

        &__txt {}
    }
}

.flow {
    .guideline_ttl {
        &__en {}

        &__jp {}
    }

    .flow_step {
        display: flex;
        gap: 38px;

        &__item {
            background-color: #fff;
            border-radius: 20px;
            padding: 30px;
        }

        &__ttl {
            text-align: center;
            font-size: 20px;
            font-weight: 700;
            color: #E67339;
            margin-bottom: 20px;
        }

        &__icon {
            margin-bottom: 50px;
        }

        &__txt {}
    }
}