/*!
global > color
------------------------------
*/

$color-white: #fff;
$color-orange: #E67339;
$color-black: #000;
$color-blue: #2C4198;
$color-green: #4CAF50;
$color-gray: #F1F1F1;

$color-font-base: #333;
$color-bg:#FFFCDE;