@use "../global" as *;

.c_btn {
    padding: 10px 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 50px;
    min-width: 240px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;

    &::after {
        content: "";
        width: 18px;
        aspect-ratio: 1/1;
        background: url("../images/common/icon_arr_blue.svg") center/100% auto no-repeat;
        transition: 0.4s ease;
    }

    &__main {
        color: $color-blue;
        border: 1px solid $color-blue;

        @include hover() {
            &:hover {
                opacity: 1;
                color: $color-white;
                background: $color-blue;

                &::after {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    &__brown {
        color: $color-white;
        font-size: 18px;
        min-height: 65px;
        min-width: 300px;
        background: $color-brown;

        &::after {
            background-image: url("../images/common/icon_arr.svg");
        }
    }
}

.c_ubtn {
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    @include mq(lg) {
        gap: 30px;
    }

    &__item {
        width: calc((100% - 15px) / 2);
        @include mq() {
            width: calc((100% - 45px) / 4);
        }
        @include mq(lg) {
            width: min(25%, 250px);
            &:last-child {
                width: min(25%, 220px);
            }
        }
    }
    &__ta {
        width: 100%;
        min-height: 55px;
        padding: 5px 10px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.5;
        background-color: #e67339;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 999px;
        letter-spacing: 0.05em;

        @include mq() {
            min-height: 4.583333333333333em;
            font-size: min(calc(12 / 768 * 100vw), 16px);
        }

        @include mq(lg) {
            font-size: 16px;
            min-height: 65px;
        }

        span {
            position: relative;
            padding-right: 24px;
            @include mq(lg) {
                padding-right: 30px;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                margin: auto 0;
                width: 18px;
                height: 18px;
                background: url('data:image/svg+xml,<svg id="Group_26593" data-name="Group 26593" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18"><g id="Ellipse_6" data-name="Ellipse 6" fill="none" stroke="%23fff" stroke-width="2"><circle cx="9" cy="9" r="9" stroke="none"/><circle cx="9" cy="9" r="8" fill="none"/></g><path id="Path_108028" data-name="Path 108028" d="M16.8,10.26l3.96,3.96L16.8,18.18" transform="translate(-9.236 -5.218)" fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>')
                    center/contain no-repeat;
                @include mq() {
                    width: 1.1666666666666667em;
                    height: 1.1666666666666667em;
                }
            }
        }
    }

    &__blue {
        .c_ubtn__ta {
            background-color: #2c4198;
        }
    }
}
