@use "../global" as *;

.c_btn {
    padding: 10px 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 50px;
    min-width: 240px;
    border-radius: 100px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 700;

    &::after {
        content: '';
        width: 18px;
        aspect-ratio: 1/1;
        background: url('../images/common/icon_arr_blue.svg') center/100% auto no-repeat;
        transition: .4s ease;
    }

    &__main {
        color: $color-blue;
        border: 1px solid $color-blue;

        @include hover() {
            &:hover {
                opacity: 1;
                color: $color-white;
                background: $color-blue;

                &::after {
                    filter: brightness(0) invert(1);
                }
            }
        }
    }

    &__brown {
        color: $color-white;
        font-size: 18px;
        min-height: 65px;
        min-width: 300px;
        background: $color-brown;

        &::after {
            background-image: url('../images/common/icon_arr.svg')
        }
    }
}