@use "../global" as *;

.c_hamburger {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 60px;
    aspect-ratio: 1/1;
    background: $color-blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s ease;
    z-index: 99;

    @include mq(ld) {
        display: none;
    }

    &__bar {
        width: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        >span {
            display: block;
            width: 100%;
            height: 2px;
            background: $color-white;
            border-radius: 2px;
            transition: 0.3s ease;
            transform-origin: center;
        }
    }

    &.is-open {
        background: none;

        .c_hamburger__bar {
            >span {
                background: $color-blue;

                &:nth-child(1) {
                    transform: translateY(10px) rotate(45deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                    transform: scaleX(0);
                }

                &:nth-child(3) {
                    transform: translateY(-10px) rotate(-45deg);
                }
            }
        }
    }
}