@use "../global" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    @include mq(ld) {
        top: 16px;
    }

    &_inner {
        margin: 0 auto;
        padding: 20px;
        width: 100%;
        max-width: 1475px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: .3s ease;

        @include mq(ld) {
            padding: 0 20px;
            min-height: min(6.57vw, 92px);
        }
    }

    &_logo {
        &__link {
            display: flex;
            align-items: center;
            gap: 7px;

            @include mq(ld) {
                gap: min(0.71vw, 10px);
            }
        }

        &__img {
            width: 24px;

            @include mq(ld) {
                width: min(2.36vw, 33px);
            }
        }

        &__txt {
            color: #1C1C1C;
            font-family: $font-base;
            font-size: 18px;
            font-weight: 700;
            line-height: calc(36/30);

            @include mq(ld) {
                font-size: min(2.14vw, 30px);
                padding-bottom: 0.15em;
            }
        }
    }

    &_top {
        .header_inner {
            max-width: 1505px;
        }

        .header_content {
            @include mq(ld) {
                height: 0;
                opacity: 0;
                visibility: hidden;
            }
        }
    }

    &_content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        opacity: 0;
        visibility: hidden;
        transition: .4s ease;
        z-index: -1;

        @include mq(ld) {
            position: relative;
            top: auto;
            left: auto;
            width: auto;
            height: auto;
            opacity: 1;
            visibility: visible;
            transition: none;
            z-index: unset;
        }
    }
}

@include mq(ld) {
    .is-fixed {
        .header {
            &_top {
                .header_content {
                    height: auto;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .js-fixed {
            opacity: 0;
            visibility: hidden;
        }
    }
}