@use "../global" as *;

.c_mv {
    position: relative;
    height: 300px;

    &::after {
        content: '';
        position: absolute;
        inset: 0;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(5px) brightness(1.1);
    }

    .container {
        height: 100%;
        display: flex;
        align-items: flex-end;
    }

    &__bg {
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__box {
        position: relative;
        padding: 47px 43px 0 0;
        width: 100%;
        max-width: 495px;
        z-index: 2;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: max(50vw, 595px);
            height: 100%;
            background: url('../images/common/bg_mv.webp') center/cover no-repeat;
            border-top-right-radius: 50px;
            z-index: -1;
        }
    }

    &__heading {
        display: flex;
        flex-direction: column;

        &__en {
            margin-bottom: 17px;
            color: $color-blue;
            font-size: 19px;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 0.05em;
        }

        &__jp {
            font-size: 40px;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: 0.05em;
        }
    }
}