@use "../global" as *;

.nav {
    &_wrapper {
        padding: 20px 26px 20px 75px;
        display: flex;
        align-items: center;
        background: $color-white;
        border-radius: 52px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    }

    &_btn {
        margin-left: min(1.58vw, 23px);
        display: inline-block;
        width: 64px;
        aspect-ratio: 1/1;
        background: $color-blue;
        border-radius: 50%;
    }
}

.c_menu {
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: min(3.44vw, 49px);

    &__item {

    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__jp {
        font-weight: 700;
        line-height: calc(25/17);
        text-align: center;

        &::before {
            content: '・';
        }
    }

    &__en {
        color: $color-blue;
        font-family: $font-en;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
    }
}

.c_recruit {
    margin-left: min(2.47vw, 36px); 

    &__item {
        position: relative;
        z-index: 2;

        @include hover(default) {
            &:hover {
                .c_recruit__sub {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        >span, >a {
            padding: 6px 36px;
            display: inline-block;
            background: $color-orange;
            color: $color-white;
            font-size: 16px;
            font-weight: 700;
            line-height: calc(24/16);
            border-radius: 18px;
            cursor: pointer;
        }
    }

    &__sub {
        position: absolute;
        top: 0;
        left: 0;
        padding: 66px 26px 30px;
        width: 240px;
        background: #FDFAEC;
        border-radius: 18px;
        opacity: 0;
        visibility: hidden;
        transition: .4s ease;
        z-index: -1;
    }

    &__subitem {
        line-height: 1;

        &:not(:last-child) {
            margin-bottom: 20px;
        }
        
        a {
            font-weight: 700;
            line-height: calc(25/17);

            &::before {
                content: '・';
            }
        }
    }
}