@use "../global" as *;

.c_totop {
    position: fixed;
    bottom: 146px;
    right: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: url('../images/common/icon_totop.svg') center/30px auto no-repeat, $color-blue;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    color: $color-blue;
    transform: translateY(20px);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s ease, all .6s ease;
    cursor: pointer;
    z-index: 20;

    @media screen and (max-width: 1599px) {
        right: 16px;
    }

    @include mq() {
        bottom: 195px;
        width: 88px;
        background-size: 44px auto;
        font-size: 16px;
    }

    @include hover() {
        &:hover {
            opacity: .8;
        }
    }

    &.show {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }


    &.active {
        bottom: 60px;

        @include mq() {
            bottom: 177px;
        }
    }

    &.reset {
        @include mq(sp) {
            bottom: 16px;
        }
    }
}