@use "../../global" as *;

.number {
    &_post {
        padding: 54px 0 230px;
    }
    &_wrap {
    }
    &_head {
        margin-bottom: 83px;
        text-align: center;
    }
    &_title {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.05em;
        margin-bottom: 20px;
    }
    &_desc {
        font-size: 17px;
        letter-spacing: 0.05em;
    }
    &_item {
        margin-bottom: 95px;
        display: flex;
        gap: 19px;
        &:last-child {
            margin-bottom: 0;
        }
        &__reverse {
            flex-direction: row-reverse;
            .number_hd {
                margin-bottom: 52px;
            }
        }
        @include mq(lg) {
            &:nth-child(2) {
                .number_col {
                    &:nth-child(1) {
                        padding-right: 10px;
                    }
                    &:nth-child(2) {
                        padding-top: 47px;
                    }
                }
            }

            &:nth-child(3) {
                margin-bottom: 60px;
                .number_col {
                    &:nth-child(2) {
                        padding-right: 10px;
                    }
                }
            }

            &:nth-child(4) {
                .number_hd {
                    margin-bottom: 104px;
                }
                .number_col {
                    &:nth-child(1) {
                        padding-top: 32px;
                    }
                    &:nth-child(2) {
                    }
                }
            }
        }
    }
    &_col {
        width: 50%;
    }
    &_hd {
        margin-bottom: 40px;
    }
    &_ttl {
        max-width: 100%;
        width: 458px;
        font-size: 30px;
        letter-spacing: 0.05em;
        font-weight: 700;
        text-align: center;
        padding: 20px 10px;
        color: #fff;
        position: relative;
        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="458.097" height="100.904" viewBox="0 0 458.097 100.904"><path id="Path_160256" data-name="Path 160256" d="M47.538,0,0,2.033,1.627,96.911l45.915.6,45.638-6.74,45.636,9.846,45.634-3.353,45.632-3.116,45.633.1L321.35,93.8l45.632,7.1,45.634-9.479L458.1,96.132l-1-88.556-44.487.261L366.973,6.679l-45.635,3.757L275.7,9.522,230.072,6.565,184.438,4.233,138.8,11.77,93.172,8.305Z" fill="%23e67339"/></svg>')
            center/cover no-repeat;
        &::after {
            content: "";
            position: absolute;
            top: 41px;
            right: -142px;
            width: 265px;
            aspect-ratio: 265/126;
            background: url("../images/number/icon_number_01.webp") center/contain no-repeat;
        }

        &__type2 {
            margin-left: auto;
            margin-top: 23px;
            &::after {
                top: 11px;
                left: -151px;
                width: 200px;
                aspect-ratio: 400/253;
                background-image: url("../images/number/icon_number_02.webp");
            }
        }
        &__type3 {
            &::after {
                top: 29px;
                right: -143px;
                width: 265px;
                aspect-ratio: 529/311;
                background-image: url("../images/number/icon_number_03.webp");
            }
        }
    }
    &_note {
        font-size: 16px;
        margin-top: 5px;
    }
    &_card {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 10px;
        width: 100%;
        &__item {
            background-color: #fff;
            border-radius: 30px;
            width: calc((100% - 10px) / 2);
            text-align: center;
            position: relative;
            padding: 20px 20px 16px;
            min-height: 250px;
            box-shadow: 0 8px 0px rgba($color: #000000, $alpha: 0.16);
            &::before {
                content: "";
                display: block;
                margin: 0 auto -4px;
                background: center/contain no-repeat;
            }

            &.type1 {
                padding-top: 30px;
                &::before {
                    width: 48px;
                    height: 35px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47.987" height="35" viewBox="0 0 47.987 35"><defs><clipPath id="clip-path"><rect id="Rectangle_7764" data-name="Rectangle 7764" width="47.987" height="35" fill="%232c4198"/></clipPath></defs><g id="Group_22897" data-name="Group 22897" clip-path="url(%23clip-path)"><path id="Path_212965" data-name="Path 212965" d="M29.2,23.924c.185-.154,4.522-3.831,4.472-8.4a.638.638,0,0,1,.262-.509,1.226,1.226,0,0,1,.99-.24l6.1,1.422a.837.837,0,0,0,.7-.155,8.16,8.16,0,0,0,2.739-3.554.837.837,0,0,0-.393-.99L41.593,10.13l-4.4-5.6a.84.84,0,0,0-.155-.152,4.452,4.452,0,0,0-2.689-.691L29.975.183a.836.836,0,0,0-1.269.274L27.645,2.546a.835.835,0,0,0-.011.734l.838,1.787-4.49,2.267H6.573A5.885,5.885,0,0,0,1.46,10.324C.006,12.9-1.66,17.976,3.517,23.077l1.175-1.192c-4.163-4.1-3.263-8.1-1.775-10.739a4.21,4.21,0,0,1,3.656-2.14H24.182a.841.841,0,0,0,.377-.09l5.394-2.724a.837.837,0,0,0,.38-1.1l-1.01-2.152.411-.807,3.823,3.061a.836.836,0,0,0,.59.181,3.262,3.262,0,0,1,1.824.3l4.413,5.62a.83.83,0,0,0,.255.216l1.946,1.07a7.207,7.207,0,0,1-1.577,1.887l-5.72-1.332a2.89,2.89,0,0,0-2.412.583A2.3,2.3,0,0,0,32,15.54c.042,3.786-3.833,7.067-3.872,7.1Z" transform="translate(3.478 0)" fill="%232c4198"/><path id="Path_212966" data-name="Path 212966" d="M79.719,62.971h3.987a.806.806,0,0,0,.634-1.3l-.96-1.225.129-4.8,2.254-4.056a.806.806,0,1,0-1.409-.782L82,55.036a.806.806,0,0,0-.1.37l-.142,5.285a.8.8,0,0,0,.172.518l.117.15H80.525V50.275a.806.806,0,0,0-1.611,0v11.89a.806.806,0,0,0,.806.806" transform="translate(-72.172 -27.971)" fill="%232c4198"/><path id="Path_212967" data-name="Path 212967" d="M35.24,62.971h3.987a.806.806,0,0,0,.634-1.3l-.96-1.225.13-4.8,2.254-4.056a.806.806,0,1,0-1.409-.782l-2.349,4.227a.8.8,0,0,0-.1.37l-.143,5.285a.8.8,0,0,0,.172.518l.117.15H36.046V50.275a.806.806,0,0,0-1.611,0v11.89a.806.806,0,0,0,.806.806" transform="translate(-8.363 -27.971)" fill="%232c4198"/><path id="Path_212968" data-name="Path 212968" d="M50.255,52.048a10.961,10.961,0,0,0,4.913-1.025.806.806,0,0,0-.767-1.418,10.454,10.454,0,0,1-5.863.712.806.806,0,1,0-.219,1.6,14.258,14.258,0,0,0,1.936.134" transform="translate(-28.297 -27.993)" fill="%232c4198"/><path id="Path_212969" data-name="Path 212969" d="M66.741,55.806a5.8,5.8,0,0,0,5.229-3.071.806.806,0,0,0-1.467-.668c-.074.158-1.775,3.61-7.012,1.358a.806.806,0,0,0-.636,1.481,9.863,9.863,0,0,0,3.886.9" transform="translate(-51.157 -29.174)" fill="%232c4198"/><path id="Path_212970" data-name="Path 212970" d="M90.534,30.349l1.67-.105c-.436-6.941,1.121-9.709,2.5-10.808A3.883,3.883,0,0,1,98,18.71l.479-1.6a5.587,5.587,0,0,0-4.812,1.02c-2.466,1.96-3.521,6.072-3.133,12.223" transform="translate(-89.802 -9.576)" fill="%232c4198"/><path id="Path_212971" data-name="Path 212971" d="M103.295,46.848c0,1.035.693,3.467,1.548,3.467s1.549-2.432,1.549-3.467a1.577,1.577,0,1,0-3.1,0" transform="translate(-103.295 -25.43)" fill="%232c4198"/><path id="Path_212972" data-name="Path 212972" d="M14.27,22.6c-.077.056-2.568-.81-2.568-.81l-1.386-1.2L6.208,16.35l-2.85-.167-.771,4.634,1.977,2.289,7.753,1.814Z" transform="translate(32.593 -9.15)" fill="%232c4198"/><path id="Path_212973" data-name="Path 212973" d="M67.32,18a5.545,5.545,0,1,1-11.091,0Z" transform="translate(-43.769 -10.175)" fill="%232c4198"/><path id="Path_212974" data-name="Path 212974" d="M89.41,26.5a4.3,4.3,0,1,1,0,8.592Z" transform="translate(-84.575 -14.985)" fill="%232c4198"/><path id="Path_212975" data-name="Path 212975" d="M27.6,44.046a3.687,3.687,0,1,1,4.018-6.184Z" transform="translate(5.111 -21.071)" fill="%232c4198"/><path id="Path_212976" data-name="Path 212976" d="M59.349,42.345a3.438,3.438,0,0,0,6.821,0,3.438,3.438,0,0,0-6.821,0" transform="translate(-43.975 -22.244)" fill="%232c4198"/><path id="Path_212977" data-name="Path 212977" d="M38.29,18.2c-.907,1.572-.668,3.409.536,4.1s2.915-.016,3.822-1.588.668-3.409-.536-4.1S39.2,16.629,38.29,18.2" transform="translate(-11.612 -9.243)" fill="%232c4198"/></g></svg>');
                }
            }
            &.type2 {
                padding-top: 30px;
                &::before {
                    width: 23px;
                    height: 35px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22.56" height="35" viewBox="0 0 22.56 35"><defs><clipPath id="clip-path"><rect id="Rectangle_7767" data-name="Rectangle 7767" width="22.56" height="35" fill="%232c4198"/></clipPath></defs><g id="Group_22907" data-name="Group 22907" transform="translate(0 0)"><g id="Group_22906" data-name="Group 22906" transform="translate(0 0.001)" clip-path="url(%23clip-path)"><path id="Path_212979" data-name="Path 212979" d="M20.507,30.389V15.023a24.032,24.032,0,0,1-9.219,1.45H11.28A24.235,24.235,0,0,1,2.055,15.03V30.387a1.834,1.834,0,0,0-.924,1.489,2,2,0,0,0,1.2,1.66C4.059,34.484,7.35,34.983,11.28,35a30.33,30.33,0,0,0,6.739-.669,8.716,8.716,0,0,0,2.216-.794,2,2,0,0,0,1.195-1.66h0a1.83,1.83,0,0,0-.923-1.488M22.56,6.179a1.9,1.9,0,0,0-3.224-1.355l-1.4,1.363-.2-.472V3.844a1.635,1.635,0,0,0,.923-1.372,1.674,1.674,0,0,0-.978-1.406A15.008,15.008,0,0,0,11.28,0,21.406,21.406,0,0,0,6.5.48a6.376,6.376,0,0,0-1.625.586A1.674,1.674,0,0,0,3.9,2.472a1.634,1.634,0,0,0,.924,1.374V5.716l-.2.472-1.4-1.366A1.9,1.9,0,0,0,.54,4.855,1.9,1.9,0,0,0,.574,7.54l2.48,2.415-.264.629c-.147.057-.287.117-.419.182a2.848,2.848,0,0,0-.789.543,1.412,1.412,0,0,0,0,2.069c.809.752,2,1.042,3.674,1.362.487.084,1.015.156,1.57.219a33.032,33.032,0,0,0,4.454.282,33.224,33.224,0,0,0,4.365-.271c.861-.094,1.652-.214,2.349-.359a9.48,9.48,0,0,0,2.2-.69,2.9,2.9,0,0,0,.787-.542,1.41,1.41,0,0,0,0-2.069,3.775,3.775,0,0,0-1.208-.729l-.262-.628,2.479-2.415a1.9,1.9,0,0,0,.572-1.36M3.99,7.714l-.3.713L1.648,6.438a.366.366,0,0,1-.109-.258.349.349,0,0,1,.1-.248A.356.356,0,0,1,1.9,5.821M11.28,3.1a19.7,19.7,0,0,1-4.351-.428,6.664,6.664,0,0,1-.684-.2,17.228,17.228,0,0,1,5.035-.621,19.741,19.741,0,0,1,4.351.427,6.6,6.6,0,0,1,.684.2A17.208,17.208,0,0,1,11.28,3.1m9.632,3.343L18.872,8.426l-.3-.712,1.839-1.791a.34.34,0,0,1,.249-.1.356.356,0,0,1,.358.357.362.362,0,0,1-.108.259" transform="translate(0 0)" fill="%232c4198"/></g></g></svg>');
                }
            }
            &.type3 {
                padding-top: 40px;
                width: 100%;
                height: 100%;
                &::before {
                    width: 41px;
                    height: 33px;
                    background-image: url('data:image/svg+xml,<svg id="Group_22902" data-name="Group 22902" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40.999" height="32.637" viewBox="0 0 40.999 32.637"><defs><clipPath id="clip-path"><rect id="Rectangle_7765" data-name="Rectangle 7765" width="40.999" height="32.637" fill="%232c4198"/></clipPath></defs><g id="Group_22898" data-name="Group 22898" clip-path="url(%23clip-path)"><path id="Path_212978" data-name="Path 212978" d="M41,10.755a3.568,3.568,0,1,0-5.448,3.029c-.843,2.491-2.663,6.869-4.955,6.554-2.918-.4-3.575-5.122-2.477-13.424A3.574,3.574,0,1,0,24.9,6.536c-.53,8.453-2.024,12.284-4.4,12.284s-3.871-3.831-4.4-12.284a3.563,3.563,0,1,0-3.218.378c1.1,8.3.44,13.025-2.477,13.424-2.292.315-4.111-4.063-4.956-6.554a3.564,3.564,0,1,0-2.9.388L6.909,32.637H34.09l4.367-18.465A3.57,3.57,0,0,0,41,10.755" transform="translate(0 0)" fill="%232c4198"/></g></svg>');
                }

                .number_card__tt {
                    font-size: 28px;
                    margin-bottom: 6px;
                }
                .number_card__nb {
                    margin-bottom: 36px;
                    padding-right: 29px;
                    .lb {
                        font-size: 42px;
                        margin: 0;
                    }
                    .nb {
                        font-size: 117px;
                        margin: 0 15px;
                    }
                }
                .number_card__ds {
                    text-align: left;
                    padding: 0 25px 0 35px;
                }
            }

            &.type4 {
                width: 100%;
                padding: 50px 50px 26px;
                &::before {
                    width: 32px;
                    height: 40px;
                    margin-bottom: 4px;
                    background-image: url('data:image/svg+xml,<svg id="Group_23004" data-name="Group 23004" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="31.705" height="40" viewBox="0 0 31.705 40"><defs><clipPath id="clip-path"><rect id="Rectangle_7790" data-name="Rectangle 7790" width="31.705" height="40" fill="%232c4198"/></clipPath></defs><g id="Group_23003" data-name="Group 23003" clip-path="url(%23clip-path)"><path id="Path_216367" data-name="Path 216367" d="M15.252,38.869a4.306,4.306,0,0,0-3.3.843,1.2,1.2,0,0,1-.775.283c-.7-.1-.6-1.134-.87-1.786-.345-.823-1.39-1.037-2.276-1.138L4.762,36.7a2.835,2.835,0,0,1-2.179-.938c-.4-.626-.258-1.481-.623-2.131C1.631,33.043.929,32.706.7,32.074a2.083,2.083,0,0,1,.543-1.9,5.367,5.367,0,0,0,1.139-1.7c.116-.4.095-.835.173-1.248.234-1.237,1.311-2.16,1.665-3.368A9.654,9.654,0,0,0,.506,22.183a1.3,1.3,0,0,1-.431-1.538,16.769,16.769,0,0,0,.608-1.619c.188-1.015-.372-2.177.2-3.038a7.6,7.6,0,0,1,.876-.867A.947.947,0,0,0,1.984,14c-.171-.249-.5-.327-.741-.507A1.4,1.4,0,0,1,.9,11.882a4.111,4.111,0,0,1,1.07-1.392L4.088,8.431a1.611,1.611,0,0,1,.694-.47,4.342,4.342,0,0,1,.767-.016C7.017,7.853,7.7,5.412,9.142,5.708c.265.054.5.2.766.262.717.158,1.378-.371,1.984-.785A7.74,7.74,0,0,1,16.068,3.85c.168-1.488.568-3.278,1.994-3.738a3.633,3.633,0,0,1,1.523-.06A13.056,13.056,0,0,1,26.4,2.578a5.542,5.542,0,0,1,2.291,4.5c.625-.026.737.873.682,1.5a9.06,9.06,0,0,0,.432,3.655,10.367,10.367,0,0,1,.731,2.472,7.847,7.847,0,0,0,.106,1.84,10.962,10.962,0,0,0,.872,1.5,1.227,1.227,0,0,1-.2,1.572c-.53.337-1.312-.052-1.826.311a1.065,1.065,0,0,0-.3,1.147,6.19,6.19,0,0,0,.55,1.134,4.232,4.232,0,0,1,.168,3.4c-.224.576-.575,1.1-.753,1.692-.234.779-.154,1.622-.352,2.411S27.95,31.3,27.142,31.2a2.3,2.3,0,0,0-.562-.07c-.385.049-.6.451-.854.745-.877,1.019-2.458.87-3.759,1.21a9.421,9.421,0,0,0-4,2.775l-2.782,2.765" transform="translate(0 -0.001)" fill="%232c4198"/></g></svg>');
                }
                .number_card__tt {
                    font-size: 24px;
                    margin-bottom: 32px;
                }

                .number_card__ds {
                    text-align: left;
                }
            }

            &.type5 {
                padding-top: 40px;
                &::before {
                    width: 57px;
                    height: 30px;
                    margin-bottom: 1px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="57.146" height="30" viewBox="0 0 57.146 30"><defs><clipPath id="clip-path"><rect id="Rectangle_7768" data-name="Rectangle 7768" width="57.146" height="30" fill="%232c4198"/></clipPath></defs><g id="Group_22912" data-name="Group 22912" clip-path="url(%23clip-path)"><path id="Path_212980" data-name="Path 212980" d="M56.342,30H.8a.8.8,0,0,1-.8-.8V.8A.8.8,0,0,1,.8,0H56.342a.8.8,0,0,1,.8.8V29.2a.8.8,0,0,1-.8.8M1.608,28.392h53.93V1.608H1.608Z" fill="%232c4198"/><path id="Path_212981" data-name="Path 212981" d="M32.373,32.642H25.819a.8.8,0,0,1-.8-.8v-5.7a.8.8,0,0,1,.8-.8h6.554a.8.8,0,0,1,.8.8v5.7a.8.8,0,0,1-.8.8m-5.75-1.608h4.946v-4.09H26.623Z" transform="translate(-18.311 -18.546)" fill="%232c4198"/><path id="Path_212982" data-name="Path 212982" d="M76.621,32.642H70.067a.8.8,0,0,1-.8-.8v-5.7a.8.8,0,0,1,.8-.8h6.554a.8.8,0,0,1,.8.8v5.7a.8.8,0,0,1-.8.8m-5.751-1.608h4.947v-4.09H70.871Z" transform="translate(-50.7 -18.546)" fill="%232c4198"/><path id="Path_212983" data-name="Path 212983" d="M120.869,32.642h-6.554a.8.8,0,0,1-.8-.8v-5.7a.8.8,0,0,1,.8-.8h6.554a.8.8,0,0,1,.8.8v5.7a.8.8,0,0,1-.8.8m-5.75-1.608h4.947v-4.09h-4.947Z" transform="translate(-83.09 -18.546)" fill="%232c4198"/><path id="Path_212984" data-name="Path 212984" d="M165.118,32.642h-6.555a.8.8,0,0,1-.8-.8v-5.7a.8.8,0,0,1,.8-.8h6.555a.8.8,0,0,1,.8.8v5.7a.8.8,0,0,1-.8.8m-5.751-1.608h4.947v-4.09h-4.947Z" transform="translate(-115.479 -18.546)" fill="%232c4198"/><path id="Path_212985" data-name="Path 212985" d="M32.373,75.673H25.819a.8.8,0,0,1-.8-.8v-5.7a.8.8,0,0,1,.8-.8h6.554a.8.8,0,0,1,.8.8v5.7a.8.8,0,0,1-.8.8m-5.75-1.608h4.946v-4.09H26.623Z" transform="translate(-18.311 -50.045)" fill="%232c4198"/><path id="Path_212986" data-name="Path 212986" d="M165.118,75.673h-6.555a.8.8,0,0,1-.8-.8v-5.7a.8.8,0,0,1,.8-.8h6.555a.8.8,0,0,1,.8.8v5.7a.8.8,0,0,1-.8.8m-5.751-1.608h4.947v-4.09h-4.947Z" transform="translate(-115.479 -50.045)" fill="%232c4198"/><path id="Path_212987" data-name="Path 212987" d="M87.99,80.871H69.012a.8.8,0,0,1-.8-.8V70.3a.8.8,0,0,1,.8-.8H87.99a.8.8,0,0,1,.8.8v9.767a.8.8,0,0,1-.8.8M69.816,79.263h17.37V71.1H69.816Z" transform="translate(-49.928 -50.871)" fill="%232c4198"/></g></svg>');
                }

                .number_card__tt {
                    margin-bottom: 1px;
                }

                .number_card__nb {
                    margin-bottom: 10px;
                    .nb {
                        font-size: 65px;
                    }
                }
            }
            &.type6 {
                padding-top: 40px;
                &::before {
                    width: 43px;
                    height: 30px;
                    margin-bottom: 1px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="42.735" height="30" viewBox="0 0 42.735 30"><defs><clipPath id="clip-path"><rect id="Rectangle_7770" data-name="Rectangle 7770" width="42.735" height="30" fill="%232c4198"/></clipPath></defs><g id="Group_22915" data-name="Group 22915" transform="translate(-191 -948)"><g id="Group_22914" data-name="Group 22914" transform="translate(191 948)"><g id="Group_22913" data-name="Group 22913" clip-path="url(%23clip-path)"><path id="Path_212988" data-name="Path 212988" d="M25.637,11.616l9.54-8.467L33.243.966,42.735,0l-2.08,9.342L38.6,7c-.345.3-.671.59-1,.878L33.489,11.53q-3.169,2.814-6.338,5.629c-.448.4-.891.8-1.334,1.205a.625.625,0,0,1-1.042-.067c-.62-.712-1.223-1.441-1.862-2.136-1.21-1.315-2.441-2.611-3.661-3.916q-.642-.687-1.273-1.384c-.078-.086-.143-.185-.226-.293-.558.5-1.066.947-1.572,1.4L6.074,20.98q-1.159,1.034-2.315,2.071A.617.617,0,0,1,2.771,23Q1.531,21.64.292,20.28c-.409-.449-.391-.7.068-1.115Q4.376,15.581,8.391,12q3.518-3.138,7.04-6.273l2.2-1.956c.322-.287.529-.269.823.051q2.8,3.049,5.613,6.094l1.329,1.444c.073.079.147.157.243.259" transform="translate(0 0.001)" fill="%232c4198"/><path id="Path_212989" data-name="Path 212989" d="M638.753,168.165h-6.739v-.3q0-8.966,0-17.933a.583.583,0,0,1,.22-.487c1.187-1.044,2.366-2.1,3.548-3.145.254-.225.372-.22.591.025.393.441.814.86,1.168,1.33a.759.759,0,0,0,1.217.111Z" transform="translate(-597.548 -138.165)" fill="%232c4198"/><path id="Path_212990" data-name="Path 212990" d="M238.773,245.462V262h-6.748v-.285q0-6.731,0-13.463a.53.53,0,0,1,.192-.445c.839-.737,1.668-1.486,2.507-2.224a.524.524,0,0,1,.307-.137c1.217-.009,2.435-.005,3.652,0a.588.588,0,0,1,.1.019" transform="translate(-219.37 -232.059)" fill="%232c4198"/><path id="Path_212991" data-name="Path 212991" d="M439.23,330.08h-6.717V317.967c.247.281.48.516.679.777a1.164,1.164,0,0,0,1.215.538,1.345,1.345,0,0,0,.582-.228c.573-.475,1.118-.984,1.68-1.474a.5.5,0,0,1,.281-.133c.753-.011,1.507-.006,2.281-.006Z" transform="translate(-408.93 -300.131)" fill="%232c4198"/><rect id="Rectangle_7769" data-name="Rectangle 7769" width="6.737" height="6.006" transform="translate(1.757 23.983)" fill="%232c4198"/></g></g></g></svg>');
                }

                .number_card__tt {
                    margin-bottom: 1px;
                }

                .number_card__nb {
                    margin-bottom: 10px;
                    .nb {
                        font-size: 65px;
                    }
                }
            }
            &.type7 {
                padding-top: 30px;
                &::before {
                    width: 43px;
                    height: 30px;
                    margin-bottom: 4px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="41.132" height="30" viewBox="0 0 41.132 30"><defs><clipPath id="clip-path"><rect id="Rectangle_7771" data-name="Rectangle 7771" width="41.132" height="30" fill="%232c4198"/></clipPath></defs><g id="Group_22916" data-name="Group 22916" clip-path="url(%23clip-path)"><path id="Path_212992" data-name="Path 212992" d="M25.032,20.506c.158-.132,3.876-3.284,3.833-7.2a.547.547,0,0,1,.225-.437,1.051,1.051,0,0,1,.848-.206l5.227,1.218a.717.717,0,0,0,.6-.133A6.994,6.994,0,0,0,38.116,10.7a.717.717,0,0,0-.337-.849l-2.128-1.17-3.768-4.8a.72.72,0,0,0-.133-.13,3.816,3.816,0,0,0-2.3-.592l-3.752-3a.717.717,0,0,0-1.087.235l-.91,1.79a.716.716,0,0,0-.01.63L24.4,4.343,20.557,6.286H5.634A5.044,5.044,0,0,0,1.252,8.849C.005,11.055-1.423,15.408,3.015,19.78l1.007-1.021c-3.569-3.517-2.8-6.947-1.521-9.2A3.608,3.608,0,0,1,5.634,7.72H20.727a.721.721,0,0,0,.323-.077l4.623-2.334A.717.717,0,0,0,26,4.364l-.866-1.845.352-.692,3.277,2.624a.717.717,0,0,0,.505.155,2.8,2.8,0,0,1,1.563.261l3.782,4.817a.712.712,0,0,0,.218.186l1.668.917A6.177,6.177,0,0,1,35.147,12.4l-4.9-1.142a2.477,2.477,0,0,0-2.068.5,1.971,1.971,0,0,0-.746,1.559c.036,3.245-3.285,6.058-3.319,6.086Z" transform="translate(2.982 0)" fill="%232c4198"/><path id="Path_212993" data-name="Path 212993" d="M79.6,61.042h3.417a.691.691,0,0,0,.543-1.117l-.823-1.05.111-4.112,1.932-3.476a.691.691,0,1,0-1.208-.67L81.563,54.24a.691.691,0,0,0-.087.317l-.122,4.53a.688.688,0,0,0,.147.444l.1.129H80.295v-9.5a.691.691,0,0,0-1.381,0V60.351a.691.691,0,0,0,.691.691" transform="translate(-73.135 -31.042)" fill="%232c4198"/><path id="Path_212994" data-name="Path 212994" d="M35.125,61.042h3.417a.691.691,0,0,0,.543-1.117l-.823-1.05.111-4.112,1.932-3.476a.691.691,0,1,0-1.208-.67L37.084,54.24a.69.69,0,0,0-.087.317l-.122,4.53a.688.688,0,0,0,.147.444l.1.129H35.816v-9.5a.691.691,0,0,0-1.381,0V60.351a.691.691,0,0,0,.691.691" transform="translate(-12.087 -31.042)" fill="%232c4198"/><path id="Path_212995" data-name="Path 212995" d="M49.879,51.685a9.4,9.4,0,0,0,4.211-.878.691.691,0,0,0-.657-1.215,8.961,8.961,0,0,1-5.025.611.691.691,0,1,0-.188,1.368,12.222,12.222,0,0,0,1.659.115" transform="translate(-31.058 -31.067)" fill="%232c4198"/><path id="Path_212996" data-name="Path 212996" d="M66.116,55.2A4.967,4.967,0,0,0,70.6,52.572.691.691,0,0,0,69.34,52c-.064.136-1.522,3.094-6.011,1.164a.691.691,0,0,0-.545,1.269,8.454,8.454,0,0,0,3.331.771" transform="translate(-52.759 -32.377)" fill="%232c4198"/><path id="Path_212997" data-name="Path 212997" d="M90.523,28.433l1.431-.09c-.374-5.95.961-8.322,2.146-9.264a3.328,3.328,0,0,1,2.822-.623l.411-1.375a4.789,4.789,0,0,0-4.124.874c-2.114,1.68-3.018,5.2-2.686,10.477" transform="translate(-89.896 -10.628)" fill="%232c4198"/><path id="Path_212998" data-name="Path 212998" d="M103.3,46.58c0,.887.594,2.971,1.327,2.971s1.328-2.085,1.328-2.971a1.351,1.351,0,1,0-2.655,0" transform="translate(-103.295 -28.222)" fill="%232c4198"/><path id="Path_212999" data-name="Path 212999" d="M12.6,21.686c-.066.048-2.2-.694-2.2-.694L9.212,19.963,5.691,16.326l-2.442-.143-.66,3.972,1.694,1.962,6.646,1.555Z" transform="translate(27.567 -10.155)" fill="%232c4198"/><path id="Path_213000" data-name="Path 213000" d="M65.736,18a4.753,4.753,0,1,1-9.507,0Z" transform="translate(-45.549 -11.292)" fill="%232c4198"/><path id="Path_213001" data-name="Path 213001" d="M89.41,26.5a3.682,3.682,0,1,1,0,7.365Z" transform="translate(-85.266 -16.63)" fill="%232c4198"/><path id="Path_213002" data-name="Path 213002" d="M27.356,43.077a3.16,3.16,0,1,1,3.444-5.3Z" transform="translate(0.678 -23.384)" fill="%232c4198"/><path id="Path_213003" data-name="Path 213003" d="M59.349,41.916a2.947,2.947,0,1,0,2.923-2.575,2.766,2.766,0,0,0-2.923,2.575" transform="translate(-46.171 -24.686)" fill="%232c4198"/><path id="Path_213004" data-name="Path 213004" d="M38.212,17.936c-.778,1.347-.572,2.922.459,3.518s2.5-.014,3.276-1.361.572-2.922-.459-3.518-2.5.014-3.276,1.361" transform="translate(-15.345 -10.258)" fill="%232c4198"/></g></svg>');
                }

                .number_card__tt {
                    margin-bottom: 6px;
                    font-size: 24px;
                }
            }
            &.type8 {
                padding-top: 30px;
                &::before {
                    width: 60px;
                    height: 30px;
                    margin-bottom: 4px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60.118" height="30" viewBox="0 0 60.118 30"><defs><clipPath id="clip-path"><rect id="Rectangle_7773" data-name="Rectangle 7773" width="60.118" height="30" fill="%232c4198"/></clipPath></defs><g id="Group_22920" data-name="Group 22920" transform="translate(-521 -1388)"><g id="Group_22919" data-name="Group 22919" transform="translate(521 1388)"><path id="Path_213005" data-name="Path 213005" d="M113.192,16.964v.005H90.355L72.74,4H95.575V4Z" transform="translate(-54.1 -2.975)" fill="%232c4198"/><g id="Group_22918" data-name="Group 22918" transform="translate(0 0)"><g id="Group_22917" data-name="Group 22917" clip-path="url(%23clip-path)"><path id="Path_213006" data-name="Path 213006" d="M36.256,30H29.394a1.025,1.025,0,0,1,0-2.05h5.837V14.512L18.641,2.3,2.051,14.512V27.95H7.886a1.025,1.025,0,0,1,0,2.05H1.026A1.025,1.025,0,0,1,0,28.975V13.994a1.025,1.025,0,0,1,.417-.825L18.034.2a1.025,1.025,0,0,1,1.215,0L36.863,13.169a1.024,1.024,0,0,1,.418.825V28.972A1.027,1.027,0,0,1,36.256,30" transform="translate(-0.001 0)" fill="%232c4198"/><path id="Path_213007" data-name="Path 213007" d="M125.368,30H90.135a1.025,1.025,0,0,1,0-2.05h34.208V14.515l-17.2-12.654A1.025,1.025,0,1,1,108.357.21l17.618,12.961a1.024,1.024,0,0,1,.418.825V28.98A1.025,1.025,0,0,1,125.368,30" transform="translate(-66.275 -0.007)" fill="%232c4198"/><rect id="Rectangle_7772" data-name="Rectangle 7772" width="5.84" height="2.245" transform="translate(15.719 11.316)" fill="%232c4198"/><path id="Path_213008" data-name="Path 213008" d="M49.3,73.063H27.8a1.025,1.025,0,0,1-1.025-1.025V58.925A1.025,1.025,0,0,1,27.8,57.9H49.3a1.025,1.025,0,0,1,1.025,1.025v13.11A1.027,1.027,0,0,1,49.3,73.063M28.82,71.013H48.278V59.95H28.82Z" transform="translate(-19.91 -43.063)" fill="%232c4198"/><path id="Path_213009" data-name="Path 213009" d="M92.6,2.05H69.766a1.025,1.025,0,0,1,0-2.05H92.6a1.025,1.025,0,0,1,0,2.05" transform="translate(-51.126 0)" fill="%232c4198"/><path id="Path_213010" data-name="Path 213010" d="M161.343,52.66H138.505a1.025,1.025,0,1,1,0-2.05h22.838a1.025,1.025,0,0,1,0,2.05" transform="translate(-102.25 -37.641)" fill="%232c4198"/></g></g></g></g></svg>');
                }

                .number_card__tt {
                    margin-bottom: -4px;
                    font-size: 24px;
                }

                .number_card__nb {
                    margin-bottom: 18px;
                    .nb {
                        font-size: 65px;
                    }
                }
            }
            &.type9 {
                width: 100%;
                padding-top: 24px;
                padding-bottom: 26px;
                &::before {
                    display: none;
                }
                .number_card__tt {
                    font-size: 24px;
                    margin-bottom: 6px;
                }
                .number_card__nb {
                    &::after {
                        content: "";
                        display: block;
                        width: 255px;
                        height: 50px;
                        margin: 29px auto 17px;
                        background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="254.985" height="49.721" viewBox="0 0 254.985 49.721"><defs><clipPath id="clip-path"><rect id="Rectangle_7124" data-name="Rectangle 7124" width="33.868" height="49.721" fill="none"/></clipPath></defs><g id="Group_22690" data-name="Group 22690" transform="translate(-976 -5700)"><g id="Group_20327" data-name="Group 20327" transform="translate(976 5700)"><g id="Group_20330" data-name="Group 20330" transform="translate(0 0)"><g id="Group_20329" data-name="Group 20329" transform="translate(0 0)"><g id="Group_20328" data-name="Group 20328" clip-path="url(%23clip-path)"><path id="Path_179195" data-name="Path 179195" d="M33.375,15.177l-5.25-8.75v-2.8A3.633,3.633,0,0,0,24.5,0H9.073A3.633,3.633,0,0,0,5.444,3.629v2.8l-5.25,8.75a1.36,1.36,0,0,0-.194.7V48.539A1.361,1.361,0,0,0,1.358,49.9h30.85a1.361,1.361,0,0,0,1.361-1.361V15.878a1.36,1.36,0,0,0-.194-.7M2.722,24.5H21.771v9.98H2.722Zm19.049-2.725H2.722V17.238H21.771Zm.44-7.257H3.763L7.575,8.165H24.754ZM8.165,3.629a.909.909,0,0,1,.908-.908H24.5a.909.909,0,0,1,.908.908V5.444H8.165ZM2.722,37.2H21.771v9.981H2.722Zm28.126,9.981H24.5V16.139l2.513-6.284,3.838,6.4Z" transform="translate(0 -0.179)" fill="%232c4198"/></g></g><rect id="Rectangle_7125" data-name="Rectangle 7125" width="23.293" height="15.396" transform="translate(0.762 21.553)" fill="%232c4198"/><rect id="Rectangle_7126" data-name="Rectangle 7126" width="9.225" height="15.396" transform="translate(24.056 21.553)" fill="%232c4198"/></g><g id="Group_20331" data-name="Group 20331" transform="translate(55.105 0)"><g id="Group_20329-2" data-name="Group 20329" transform="translate(0 0)"><g id="Group_20328-2" data-name="Group 20328" clip-path="url(%23clip-path)"><path id="Path_179195-2" data-name="Path 179195" d="M33.375,15.177l-5.25-8.75v-2.8A3.633,3.633,0,0,0,24.5,0H9.073A3.633,3.633,0,0,0,5.444,3.629v2.8l-5.25,8.75a1.36,1.36,0,0,0-.194.7V48.539A1.361,1.361,0,0,0,1.358,49.9h30.85a1.361,1.361,0,0,0,1.361-1.361V15.878a1.36,1.36,0,0,0-.194-.7M2.722,24.5H21.771v9.98H2.722Zm19.049-2.725H2.722V17.238H21.771Zm.44-7.257H3.763L7.575,8.165H24.754ZM8.165,3.629a.909.909,0,0,1,.908-.908H24.5a.909.909,0,0,1,.908.908V5.444H8.165ZM2.722,37.2H21.771v9.981H2.722Zm28.126,9.981H24.5V16.139l2.513-6.284,3.838,6.4Z" transform="translate(0 -0.179)" fill="%232c4198"/></g></g><rect id="Rectangle_7125-2" data-name="Rectangle 7125" width="23.293" height="15.396" transform="translate(0.762 21.553)" fill="%232c4198"/><rect id="Rectangle_7126-2" data-name="Rectangle 7126" width="9.225" height="15.396" transform="translate(24.056 21.553)" fill="%232c4198"/></g><g id="Group_20332" data-name="Group 20332" transform="translate(110.21 0)"><g id="Group_20329-3" data-name="Group 20329" transform="translate(0 0)"><g id="Group_20328-3" data-name="Group 20328" clip-path="url(%23clip-path)"><path id="Path_179195-3" data-name="Path 179195" d="M33.375,15.177l-5.25-8.75v-2.8A3.633,3.633,0,0,0,24.5,0H9.073A3.633,3.633,0,0,0,5.444,3.629v2.8l-5.25,8.75a1.36,1.36,0,0,0-.194.7V48.539A1.361,1.361,0,0,0,1.358,49.9h30.85a1.361,1.361,0,0,0,1.361-1.361V15.878a1.36,1.36,0,0,0-.194-.7M2.722,24.5H21.771v9.98H2.722Zm19.049-2.725H2.722V17.238H21.771Zm.44-7.257H3.763L7.575,8.165H24.754ZM8.165,3.629a.909.909,0,0,1,.908-.908H24.5a.909.909,0,0,1,.908.908V5.444H8.165ZM2.722,37.2H21.771v9.981H2.722Zm28.126,9.981H24.5V16.139l2.513-6.284,3.838,6.4Z" transform="translate(0 -0.179)" fill="%232c4198"/></g></g><rect id="Rectangle_7125-3" data-name="Rectangle 7125" width="23.293" height="15.396" transform="translate(0.762 21.553)" fill="%232c4198"/><rect id="Rectangle_7126-3" data-name="Rectangle 7126" width="9.225" height="15.396" transform="translate(24.056 21.553)" fill="%232c4198"/></g><g id="Group_20333" data-name="Group 20333" transform="translate(166.013 0)"><g id="Group_20329-4" data-name="Group 20329" transform="translate(0 0)"><g id="Group_20328-4" data-name="Group 20328" clip-path="url(%23clip-path)"><path id="Path_179195-4" data-name="Path 179195" d="M33.375,15.177l-5.25-8.75v-2.8A3.633,3.633,0,0,0,24.5,0H9.073A3.633,3.633,0,0,0,5.444,3.629v2.8l-5.25,8.75a1.36,1.36,0,0,0-.194.7V48.539A1.361,1.361,0,0,0,1.358,49.9h30.85a1.361,1.361,0,0,0,1.361-1.361V15.878a1.36,1.36,0,0,0-.194-.7M2.722,24.5H21.771v9.98H2.722Zm19.049-2.725H2.722V17.238H21.771Zm.44-7.257H3.763L7.575,8.165H24.754ZM8.165,3.629a.909.909,0,0,1,.908-.908H24.5a.909.909,0,0,1,.908.908V5.444H8.165ZM2.722,37.2H21.771v9.981H2.722Zm28.126,9.981H24.5V16.139l2.513-6.284,3.838,6.4Z" transform="translate(0 -0.179)" fill="%232c4198"/></g></g><rect id="Rectangle_7125-4" data-name="Rectangle 7125" width="23.293" height="15.396" transform="translate(0.762 21.553)" fill="%232c4198"/><rect id="Rectangle_7126-4" data-name="Rectangle 7126" width="9.225" height="15.396" transform="translate(24.056 21.553)" fill="%232c4198"/></g><g id="Group_20334" data-name="Group 20334" transform="translate(221.118 0)"><g id="Group_20329-5" data-name="Group 20329" transform="translate(0 0)"><g id="Group_20328-5" data-name="Group 20328" clip-path="url(%23clip-path)"><path id="Path_179195-5" data-name="Path 179195" d="M33.375,15.177l-5.25-8.75v-2.8A3.633,3.633,0,0,0,24.5,0H9.073A3.633,3.633,0,0,0,5.444,3.629v2.8l-5.25,8.75a1.36,1.36,0,0,0-.194.7V48.539A1.361,1.361,0,0,0,1.358,49.9h30.85a1.361,1.361,0,0,0,1.361-1.361V15.878a1.36,1.36,0,0,0-.194-.7M2.722,24.5H21.771v9.98H2.722Zm19.049-2.725H2.722V17.238H21.771Zm.44-7.257H3.763L7.575,8.165H24.754ZM8.165,3.629a.909.909,0,0,1,.908-.908H24.5a.909.909,0,0,1,.908.908V5.444H8.165ZM2.722,37.2H21.771v9.981H2.722Zm28.126,9.981H24.5V16.139l2.513-6.284,3.838,6.4Z" transform="translate(0 -0.179)" fill="%232c4198"/></g></g><rect id="Rectangle_7125-5" data-name="Rectangle 7125" width="23.293" height="15.396" transform="translate(0.762 21.553)" fill="%232c4198"/><rect id="Rectangle_7126-5" data-name="Rectangle 7126" width="9.225" height="15.396" transform="translate(24.056 21.553)" fill="%232c4198"/></g></g></g></svg>')
                            center/contain no-repeat;
                    }
                    .nb {
                        font-size: 75px;
                    }
                }
            }
            &.type10 {
                width: 100%;
                padding-top: 30px;
                padding-bottom: 25px;
                &::before {
                    width: 39px;
                    height: 30px;
                    margin-bottom: -6px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38.297" height="30" viewBox="0 0 38.297 30"><defs><clipPath id="clip-path"><rect id="Rectangle_7800" data-name="Rectangle 7800" width="38.297" height="30" fill="%232c4198"/></clipPath></defs><g id="Group_23052" data-name="Group 23052" transform="translate(-550 -2166)"><g id="Group_23051" data-name="Group 23051" transform="translate(550 2166)"><g id="Group_23050" data-name="Group 23050" clip-path="url(%23clip-path)"><path id="Path_218048" data-name="Path 218048" d="M27.413,9.781a5.219,5.219,0,0,0,5.053,0A5.04,5.04,0,0,0,33.79,8.728a3.791,3.791,0,0,0,.429-.531,5.059,5.059,0,0,0,.755-1.6,5.214,5.214,0,1,0-7.561,3.188" transform="translate(-21.838 -0.002)" fill="%232c4198"/><path id="Path_218049" data-name="Path 218049" d="M12.88,109.373a8.59,8.59,0,0,1,.793-.422l0,0,.017-.01c-.075-.075-.14-.149-.214-.224a7.651,7.651,0,0,1-1.892-4.008,3.584,3.584,0,0,0-.55-.121,5.239,5.239,0,0,0-1.081-.1H6.256a5.241,5.241,0,0,0-1.082.1,6.256,6.256,0,0,0-4.829,4.13A6.072,6.072,0,0,0,0,110.736v5.482H8.642a8.65,8.65,0,0,1,4.238-6.845" transform="translate(0 -92.306)" fill="%232c4198"/><path id="Path_218050" data-name="Path 218050" d="M219.711,104.584a5.24,5.24,0,0,0-1.082-.1h-3.692a5.239,5.239,0,0,0-1.081.1,3.571,3.571,0,0,0-.55.121,7.652,7.652,0,0,1-1.892,4.008c-.062.062-.119.125-.179.187l-.028.02.005,0-.013.014a8.706,8.706,0,0,1,5.043,7.281h8.642v-5.482a6.069,6.069,0,0,0-.345-2.023,6.256,6.256,0,0,0-4.829-4.13" transform="translate(-186.589 -92.306)" fill="%232c4198"/><path id="Path_218051" data-name="Path 218051" d="M122.223,62.02a2.976,2.976,0,0,0,.391.2h.009a4.733,4.733,0,0,0,1.026.345l.345.056a4.99,4.99,0,0,0,1.492,0l.345-.056a4.73,4.73,0,0,0,1.025-.345h.01a3.006,3.006,0,0,0,.391-.2,5.163,5.163,0,0,0,2.629-3.7,5.243,5.243,0,0,0,.075-.867,5.724,5.724,0,0,0-.186-1.361,4.773,4.773,0,0,0-.858-1.743,2.143,2.143,0,0,0-.326-.4,5.2,5.2,0,0,0-7.7,0,2.143,2.143,0,0,0-.326.4,4.775,4.775,0,0,0-.858,1.743,4.52,4.52,0,0,0-.158.8,5.485,5.485,0,0,0-.028.559,5.284,5.284,0,0,0,.074.867,5.166,5.166,0,0,0,2.629,3.7" transform="translate(-105.591 -46.153)" fill="%232c4198"/><path id="Path_218052" data-name="Path 218052" d="M215.687,8.726A5.037,5.037,0,0,0,217.01,9.78,5.228,5.228,0,1,0,214.5,6.591a5.059,5.059,0,0,0,.755,1.6,3.773,3.773,0,0,0,.429.531" transform="translate(-189.341)" fill="%232c4198"/><path id="Path_218053" data-name="Path 218053" d="M105.844,156.835v-.028a.029.029,0,0,1-.019.009c-.009,0-.009.01-.019.01a5.005,5.005,0,0,0-1.063-.1h-3.692a5,5,0,0,0-1.062.1c-.01,0-.01-.01-.019-.01a.029.029,0,0,1-.019-.009v.028a6.238,6.238,0,0,0-5.118,5.538,4.355,4.355,0,0,0-.037.606v5.481H111v-5.481a4.356,4.356,0,0,0-.037-.606,6.237,6.237,0,0,0-5.118-5.538" transform="translate(-83.75 -138.46)" fill="%232c4198"/></g></g></g></svg>');
                }
                .number_card__tt {
                    font-size: 24px;
                    margin-bottom: 0;
                }
                .number_card__nb {
                    margin-bottom: 4px;
                    .nb {
                        font-size: 117px;
                    }
                    .lb {
                        font-size: 42px;
                    }
                }
            }
            &.type11 {
                &::before {
                    width: 34px;
                    height: 30px;
                    margin-bottom: -6px;
                    background-image: url('data:image/svg+xml,<svg id="Group_23054" data-name="Group 23054" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="33.351" height="30" viewBox="0 0 33.351 30"><defs><clipPath id="clip-path"><rect id="Rectangle_7801" data-name="Rectangle 7801" width="33.351" height="30" fill="%232c4198"/></clipPath></defs><g id="Group_23053" data-name="Group 23053" clip-path="url(%23clip-path)"><path id="Path_218054" data-name="Path 218054" d="M146.726,58.049c3.866.67,12.76,5.7,11.571,9.38l-.34,1.594a7.469,7.469,0,0,0,7.558,4.621c-1.19,3.844-4.454,5.007-8.451,5.239-6.038-.347-5.219-2.074-5.219-2.074s4.981-2.646-10.472-4.386Z" transform="translate(-132.164 -54.268)" fill="%232c4198"/><path id="Path_218055" data-name="Path 218055" d="M1.565,30A1.565,1.565,0,0,1,.1,27.889L10.107,1.018A1.564,1.564,0,1,1,13.038,2.11L3.031,28.981A1.564,1.564,0,0,1,1.565,30" transform="translate(0 0)" fill="%232c4198"/></g></svg>');
                }
            }
             &.type12 {
                &::before {
                    width: 44px;
                    height: 30px;
                    margin-bottom: -6px;
                    background-image: url('data:image/svg+xml,<svg id="Group_23045" data-name="Group 23045" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44.13" height="30" viewBox="0 0 44.13 30"><defs><clipPath id="clip-path"><rect id="Rectangle_7799" data-name="Rectangle 7799" width="44.13" height="30" fill="%232c4198"/></clipPath></defs><g id="Group_23044" data-name="Group 23044" clip-path="url(%23clip-path)"><path id="Path_218046" data-name="Path 218046" d="M36.537,67.041,11.3,75.111,5.578,72.047,2.695,73.139l-1.138.425,0,0-.014.005L3.8,75.913l1.093,1.143-4.236,1.1A.879.879,0,0,0,0,79.031c.023.687.8,1.29,1.511,1.454.74.172,10.442,1.232,10.8,1.287l.143.022,5.924-1.678,3.363-.945L17.616,91.055l5.033-1.745a1.8,1.8,0,0,0,1.036-.878L31.564,76.38,38.912,74.3c3.666-1.113,5.129-3.422,5.217-4.7.1-1.466-3.921-3.458-7.592-2.555" transform="translate(0 -61.055)" fill="%232c4198"/><path id="Path_218047" data-name="Path 218047" d="M110.545,9.061,116.357,7.3,120.9,5.929l-.016-.006.021-.007L106.6.2a1.8,1.8,0,0,0-1.352-.124l-3.174.905-1.94.544.009.006-.017,0Z" transform="translate(-91.495 0)" fill="%232c4198"/></g></svg>');
                }
            }
             &.type14 {
                &::before {
                    width: 48px;
                    height: 30px;
                    margin-bottom: -6px;
                    background-image: url('data:image/svg+xml,<svg id="Group_23062" data-name="Group 23062" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="47.703" height="30" viewBox="0 0 47.703 30"><defs><clipPath id="clip-path"><rect id="Rectangle_7804" data-name="Rectangle 7804" width="47.703" height="30" fill="%232c4198"/></clipPath></defs><g id="Group_23061" data-name="Group 23061" clip-path="url(%23clip-path)"><path id="Path_218062" data-name="Path 218062" d="M368.477,13.67a5.006,5.006,0,1,0,5.006-5.006,5.006,5.006,0,0,0-5.006,5.006" transform="translate(-341.526 -8.03)" fill="%232c4198"/><path id="Path_218063" data-name="Path 218063" d="M166.781,5.006A5.006,5.006,0,1,1,161.775,0a5.006,5.006,0,0,1,5.006,5.006" transform="translate(-145.303)" fill="%232c4198"/><path id="Path_218064" data-name="Path 218064" d="M5.739,173.027q.156-.221.311-.442C7.042,171.172,8,169.74,8.942,168.3l.232-.359.222,5.091h14.2l.461-12.071,6.949.868a2.248,2.248,0,0,0,.752-.037l10.725-2.351a2.526,2.526,0,0,0-.841-4.976L31.268,155.7s-10.027-1.386-11.075-1.386h-6.6a5.231,5.231,0,0,0-4.127,2.2c-.973,1.424-1.881,2.888-2.775,4.36s-1.763,2.959-2.616,4.457-1.684,3.008-2.484,4.537c-.2.382-.4.766-.6,1.15l-.582,1.158q-.208.424-.414.85Z" transform="translate(0 -143.027)" fill="%232c4198"/><path id="Path_218065" data-name="Path 218065" d="M359.99,256.017l.2-4.563c.768,1.252,1.552,2.494,2.363,3.722q.278.422.561.841h5.548c-.17-.391-.344-.779-.517-1.168q-.512-1.132-1.052-2.247c-.716-1.49-1.465-2.961-2.232-4.421s-1.547-2.9-2.354-4.327l-9.559,2.321a2.9,2.9,0,0,1-1.034.062l-5.222-.653-.406,10.435Z" transform="translate(-320.959 -226.017)" fill="%232c4198"/></g></svg>');
                }
            }
             &.type15 {
                &::before {
                    width: 33px;
                    height: 30px;
                    margin-bottom: -6px;
                    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32.652" height="30" viewBox="0 0 32.652 30"><defs><clipPath id="clip-path"><rect id="Rectangle_7802" data-name="Rectangle 7802" width="12.908" height="30" fill="none"/></clipPath><clipPath id="clip-path-2"><rect id="Rectangle_7803" data-name="Rectangle 7803" width="15.113" height="30" fill="none"/></clipPath></defs><g id="Group_23060" data-name="Group 23060" transform="translate(-1218.075 -2314.177)"><g id="Group_23055" data-name="Group 23055" transform="translate(1218.075 2314.177)"><g id="Group_23059" data-name="Group 23059" transform="translate(0 0)"><g id="Group_23056" data-name="Group 23056" transform="translate(0 0)"><g id="Group_23055-2" data-name="Group 23055" clip-path="url(%23clip-path)"><path id="Path_218056" data-name="Path 218056" d="M7.257,5.08A2.331,2.331,0,1,0,4.926,2.75,2.331,2.331,0,0,0,7.257,5.08" transform="translate(-0.801 -0.067)" fill="%232c4198"/><path id="Path_218057" data-name="Path 218057" d="M7.187,5.361a2.68,2.68,0,1,1,2.68-2.68,2.68,2.68,0,0,1-2.68,2.68M7.187.7a1.98,1.98,0,1,0,1.98,1.981A1.979,1.979,0,0,0,7.187.7" transform="translate(-0.733 0.001)" fill="%232c4198"/><path id="Path_218058" data-name="Path 218058" d="M12.612,9.677a2.587,2.587,0,0,0-2.588-2.588h-7A2.587,2.587,0,0,0,.436,9.649C.426,9.71.419,17.7.419,17.7a1.054,1.054,0,1,0,2.107,0h0V10.787h.886l0,18.675a1.334,1.334,0,1,0,2.669,0V18.45H6.99V29.466a1.334,1.334,0,1,0,2.669,0L9.618,10.791h.9V17.7a1.054,1.054,0,0,0,2.107,0Z" transform="translate(-0.068 -1.151)" fill="%232c4198"/><path id="Path_218059" data-name="Path 218059" d="M8.256,31.082A1.688,1.688,0,0,1,6.571,29.4V18.732H6.36V29.4a1.686,1.686,0,0,1-3.371,0l0-18.327H2.81v6.562a1.4,1.4,0,0,1-2.81,0C.006,10.949.013,9.8.019,9.577A2.949,2.949,0,0,1,2.956,6.669h7A2.942,2.942,0,0,1,12.9,9.608l.013,8.024a1.4,1.4,0,0,1-2.81,0V11.07H9.9L9.942,29.4a1.687,1.687,0,0,1-1.686,1.687M6.009,18.03h.913a.351.351,0,0,1,.351.351V29.4a.983.983,0,1,0,1.966,0v0L9.2,10.721a.351.351,0,0,1,.35-.352h.9a.351.351,0,0,1,.351.351v6.913a.7.7,0,0,0,1.4.049.469.469,0,0,0,0-.049L12.191,9.61A2.24,2.24,0,0,0,9.954,7.373h-7A2.244,2.244,0,0,0,.72,9.587v.02C.712,9.872.705,15.483.7,17.635a.7.7,0,0,0,1.4,0V10.719a.351.351,0,0,1,.351-.351h.885a.351.351,0,0,1,.351.351l0,18.675a.983.983,0,1,0,1.966,0V18.382a.351.351,0,0,1,.351-.351" transform="translate(0 -1.083)" fill="%232c4198"/></g></g><g id="Group_23058" data-name="Group 23058" transform="translate(17.54 0)"><g id="Group_23057" data-name="Group 23057" clip-path="url(%23clip-path-2)"><path id="Path_218060" data-name="Path 218060" d="M29.446,5.375a2.687,2.687,0,1,1,2.69-2.687,2.688,2.688,0,0,1-2.69,2.687" transform="translate(-21.89 0.001)" fill="%232c4198"/><path id="Path_218061" data-name="Path 218061" d="M30.145,31.079a1.514,1.514,0,0,1-1.513-1.513V21.61H28.4v7.956a1.513,1.513,0,0,1-3.027,0V21.61H22.864a.352.352,0,0,1-.335-.448l2.979-10.518H25.33l-1.842,6.164A1.3,1.3,0,1,1,21,16.045l2.08-6.774A3.252,3.252,0,0,1,26.36,6.646h4.228a3.305,3.305,0,0,1,3.33,2.695L36,16.04a1.3,1.3,0,0,1-2.474.815c-.005-.014-.009-.029-.013-.044l-1.837-6.168h-.2l3.042,10.52a.351.351,0,0,1-.24.435.338.338,0,0,1-.1.014H31.663v7.956a1.514,1.514,0,0,1-1.513,1.513" transform="translate(-20.944 -1.079)" fill="%232c4198"/></g></g></g></g></g></svg>');
                }
            }
        }
        &__tt {
            font-size: 22px;
            font-weight: 700;
            color: $color-blue;
            margin-bottom: 16px;
        }
        &__nb {
            color: $color-orange;
            margin-bottom: 14px;
            .nb {
                font-size: 55px;
                font-weight: 700;
                font-family: $font-en;
                line-height: 1;
            }
            .lb {
                font-size: 28px;
                font-weight: 700;
                margin-left: 10px;
            }
        }
        &__ds {
            font-size: 16px;
            font-weight: 700;
            color: $color-blue;
        }
        &__chart {
            width: 332px;
            margin: 0 auto 46px;
        }
        &__gr {
        }
    }
}
