@use "../../global" as *;

.number {
    &_post {
        padding: 54px 0 40px;
    }
    &_wrap {
    }
    &_head {
        margin-bottom: 83px;
        text-align: center;
    }
    &_title {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.05em;
        margin-bottom: 20px;
    }
    &_desc {
        font-size: 17px;
        letter-spacing: 0.05em;
    }
    &_item {
        margin-bottom: 95px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &_col {
        width: 50%;
    }
    &_hd {
        margin-bottom: 10px;
    }
    &_ttl {
        font-size: 30px;
        font-weight: 700;
        text-align: center;
        padding: 20px 10px;
        color: #fff;
        background-color: orangered;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 265px;
            aspect-ratio: 265/200;
            background: url('../../../images/');
        }
    }
    &_note {
        font-size: 16px;
    }
    &_card {
        display: flex;
        gap: 10px;
    }
    &_card_item {
        background-color: #fff;
        border-radius: 30px;
    }
    &_card_ic {
        margin-bottom: 0px;
    }
    &_card_tt {
        font-size: 22px;
        font-weight: 700;
        color: $color-blue;
    }
    &_card_nb {
        .nb {
            font-size: 55px;
            color: $color-orange;
        }
        .lb {
            font-size: 28px;
            font-weight: 700;
        }
    }
    &_card_ds {
        font-size: 16px;
        font-weight: 700;
    }
    &_card_chart {
    }
    &_card_gr {
    }
}
